*{ 
    box-sizing : content-box;
    font-family:sans-serif;
}

body{
    min-height: 100vh;
    margin:0;
    padding:0;
}

header{ background-color:#9D0BF5;}
#menus{ background-color:#080808;}
#sideBar{ background-color:#8F7AD5;}
#main-container{ background-color:#C6E1F2}
footer{ background-color:#4D575E;}

#menus a{ 
    text-decoration: none;
    color:white;
    padding:5px;
}

body{
   display: grid;
}

footer{}
header{}
#menu {}
#main-container{}
#sideBar{}

